@font-face {
    font-family: 'Cyberfunk';
    src: url('cyberfunk/Cyberfunk.eot');
    src: url('cyberfunk/Cyberfunk.eot?#iefix') format('embedded-opentype'),
        url('cyberfunk/Cyberfunk.woff2') format('woff2'),
        url('cyberfunk/Cyberfunk.woff') format('woff'),
        url('cyberfunk/Cyberfunk.svg#Cyberfunk') format('svg');
    font-weight: normal;
    font-style: normal;
}



body
{
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-family: Cyberfunk;
}

*
{
    box-sizing: border-box;
}

h1
{
    color: red;
    font-size: 3em;
}

a
{
    color: black;
}

li
{
    list-style: none;
}

main
{
    display: flex;
    flex-wrap: wrap;
}

header
{
    margin: 1em 0 1em 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-around;
}

section
{
    width: 40%;
}

#entete ul
{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
}

#leftArrow
{
    width: 30px;
    height: 30px;
}

#rightArrow
{
    width: 30px;
    height: 30px;
}

#calendrier
{
    margin: 0 auto;
    width: 700px;
    height: 45vh;
    
    background-color: rgba(241, 233, 219, 1);
    border: 2px solid black;
    border-radius: 15px;
}

tr
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

#nomJours
{
    background-color: rgba(0, 0, 0, 0.5);
    color: yellow;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
    font-weight: bold;
    
    
}

#nomJours td
{
    /*border: 1px solid white;*/
    height: 2vh;
    width: 60px;
    
    margin: 1em ;
    padding: 1em;
}

.jours
{
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
    height: 50px;
    
    margin: 1em;
    padding: 1em;
    
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    
    font-size: 0.8em;
}

.jours.courant
{
    border-radius: 50px;
}

.jours.unexist
{
    border: 1px solid rgba(100, 149, 237, 0);
    opacity: 0;
}

.jours a
{
    margin: 1em;
    display: block;
    /*font-size: 0.8em;*/
}
.jours.compet
{
    cursor: pointer;
}

.nameCompet.hide
{
    display: none;
}

.jours.compet:hover
{
    border: 2px solid white;
}

.jours[data-color="blue"]
{
    background-color: rgba(0, 0, 230, 0.3);
}

.jours[data-color="red"]
{
    background-color: rgba(230, 0, 0, 0.3);
}

.jours[data-color="yellow"]
{
    background-color: rgba(230, 230, 0, 0.3);
}

.jours[data-color="purple"]
{
    background-color: rgba(230, 0, 150, 0.3);
}

.jours[data-color="green"]
{
    background-color: rgba(0, 230, 0, 0.3);
}

.jours[data-color="brown"]
{
    background-color: rgba(128, 64, 0, 0.3);
}

.jours[data-color="grey"]
{
    background-color: rgba(192, 192, 192, 0.3);
}

.jours[data-color="cyan"]
{
    background-color: rgba(0, 230, 230, 0.3);
}

.div-compet
{
    /*background-color: rgba(163, 73, 164, 0.3);*/
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 2.2em;
}

#fond
{
  width: 59%;
  margin: 0;
  padding: 1em;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(0, 0, 230, 0.3);

  opacity: 0;
  transition-duration: 2.5s;
}

#fond.transition
{ 
    opacity: 1;
}

#principale h2
{
    margin-top: 0;
    padding: 0;
}

#droite, #gauche, #centre
{
    width: calc(100%/3);
}

#gauche img
{
    width: 200px;
}

#principale > div
{
    display: flex;
}

/*bouton
{
    width: 100px;
    background-image: url("ico/bouton.jpg");
}*/